.blog-section {
  width: 100%;
  // height: 1000px;
  position: relative;
  padding-top: 217px;

  .black-plate {
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $MainBlack;
  }

  .blog-navigation {
    position: relative;
    z-index: 110;
  }

  .blog-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 88px;
    letter-spacing: 1.01786px;
    color: $MainWhite;
    margin: 0;
  }

  .blog-sub-title-wrapper {
    display: flex;
    align-items: center;

    .blog-sub-title {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 63px;
      letter-spacing: 1px;
      color: $MainWhite;
      display: inline-block;
    }

    .orange-vertical-line {
      content: "";
      display: inline-block;
      height: 33px;
      width: 4px;
      margin-right: 17px;
      background-color: $MainOrange;
    }
  }

  .navigation-line {
    display: flex;
    margin-top: 67px;

    .blog-navigation-all-categories {
      max-width: 102px;
      padding: 13px 40px;
      background-color: #353535;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 170%;
      color: $MainWhite;
      text-decoration: none;
    }

    form {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 105px;

      input {
        display: none;
      }

      label {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 170%;
        color: #c4c4c4;
        text-decoration: none;
        cursor: pointer;
        transition: color ease-in-out 0.3s;
        padding: 13px 0;
      }

      label:hover {
        color: $MainOrange;
      }

      input:checked + label {
        background: #353535;
        padding: 13px 40px;
      }
    }
  }
}
