.blog-articles-section {
  width: 100%;
  min-height: 772px;
  position: relative;
  z-index: 110;

  .articles-title-wrapper {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 1.23642px;
    color: $MainBlack;
  }

  .articles-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 1.23642px;
    color: $MainBlack;
    position: relative;
    z-index: 110;
    padding-top: 140px;
    padding-bottom: 110px;
    margin: 0;
  }

  .blog-articles {
    width: 100%;
    display: flex;
    flex-direction: column;

    .post-announce-small {
      display: flex;
      position: relative;
      z-index: 110;
      margin-bottom: 100px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      img {
        width: 480px;
        height: 290px;
      }

      .post-announce-small-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 70px;

        .post-link {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 90px;
          letter-spacing: 1px;
          color: $MainOrange !important;
          text-decoration: none;
        }

        .category {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 170%;
          color: $MainBlack;
          padding: 10px 24px;
          background-color: $Marker-post;
          margin: 0;
        }

        .post-title {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: $MainBlack;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 27px;
          padding-bottom: 18px;
        }

        .post-text {
          margin: 0;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 1px;
          color: $MainBlack;

          p {
            margin: 0;
          }
        }
      }
    }

    .post-announce-small-right {
      display: flex;
      flex-direction: row-reverse;
      margin-left: auto;
      position: relative;
      z-index: 110;
      margin-bottom: 100px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      img {
        width: 480px;
        height: 290px;
      }

      .post-announce-small-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 70px;

        .post-link {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 90px;
          letter-spacing: 1px;
          color: $MainOrange !important;
          text-decoration: none;
        }

        .category {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 170%;
          color: $MainBlack;
          padding: 10px 24px;
          background-color: $Marker-post;
          margin: 0;
        }

        .post-title {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: $MainBlack;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 27px;
          padding-bottom: 18px;
        }

        .post-text {
          margin: 0;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 1px;
          color: $MainBlack;

          p {
            margin: 0;
          }
        }
      }
    }

    .post-announce-big {
      display: flex;
      position: relative;
      z-index: 110;
      margin-bottom: 100px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      img {
        width: 720px;
        height: 500px;
      }

      .post-announce-small-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 70px;

        .post-link {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 90px;
          letter-spacing: 1px;
          color: $MainOrange !important;
          text-decoration: none;
        }

        .category {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 170%;
          color: $MainBlack;
          padding: 10px 24px;
          background-color: $Marker-post;
          margin: 0;
        }

        .post-title {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: $MainWhite;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 27px;
          padding-bottom: 18px;
        }

        .post-text {
          margin: 0;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 1px;
          color: $MainWhite;

          p {
            margin: 0;
          }
        }
      }
    }
  }

  .centered {
    display: flex;
    flex-direction: column;

    .opac-button-more {
      width: 100%;
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      justify-content: center;
      z-index: 110;
      background-color: transparent;

      .button-plate-more {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 66px;
        color: $MainWhite;
        padding: 11px 69px;
        background-color: $MainBlack;
        cursor: pointer;
        max-width: 331px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .articles {
    .post-announce-small {
      display: flex;
      position: relative;
      z-index: 110;
      margin-bottom: 100px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      img {
        width: 480px;
        height: 290px;

        @media (max-width: 768px) {
          max-width: 359px;
          height: auto;
        }

        @media (max-width: 375px) {
          max-width: 100%;
          height: auto;
        }
      }

      .post-announce-small-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 70px;

        @media (max-width: 768px) {
          margin-right: 0;
          margin-left: 0;
          padding-top: 400px;
        }

        .post-link {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 90px;
          letter-spacing: 1px;
          color: $MainOrange !important;
          text-decoration: none;
        }

        .category {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 170%;
          color: $MainBlack;
          padding: 10px 24px;
          background-color: $Marker-post;
          margin: 0;
        }

        .post-title {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: $MainBlack;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 27px;
          padding-bottom: 18px;
        }

        .post-text {
          margin: 0;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 1px;
          color: $MainBlack;

          p {
            margin: 0;
          }
        }
      }
    }

    .post-announce-small:nth-child(even) {
      display: flex;
      flex-direction: row-reverse;
      margin-left: auto;
      position: relative;
      z-index: 110;
      margin-bottom: 100px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      img {
        width: 480px;
        height: 290px;

        @media (max-width: 768px) {
          right: -15px;
          max-width: 359px;
          height: auto;
          position: absolute;
        }

        @media (max-width: 375px) {
          max-width: 100%;
          height: auto;
        }
      }

      .post-announce-small-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 70px;

        @media (max-width: 768px) {
          margin-right: 0;
          margin-left: 0;
          padding-top: 400px;
        }

        .post-link {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 90px;
          letter-spacing: 1px;
          color: $MainOrange !important;
          text-decoration: none;
        }

        .category {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 170%;
          color: $MainBlack;
          padding: 10px 24px;
          background-color: $Marker-post;
          margin: 0;
        }

        .post-title {
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 44px;
          color: $MainBlack;
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 27px;
          padding-bottom: 18px;
        }

        .post-text {
          margin: 0;
          font-family: Open Sans, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 1px;
          color: $MainBlack;

          p {
            margin: 0;
          }
        }
      }
    }

    .post-announce-small:nth-child(odd) {
      img {
        @media (max-width: 768px) {
          left: -15px;
          max-width: 359px;
          height: auto;
          position: absolute;
        }

        @media (max-width: 375px) {
          max-width: 100%;
          height: auto;
        }
      }

      .post-announce-small-text-wrapper {
        @media (max-width: 768px) {
          margin-right: 0;
          margin-left: 0;
          padding-top: 400px;
        }
      }
    }
  }

  .articles > .alm-reveal:nth-child(1) > .post-announce-small:nth-child(1) {
    display: flex;
    position: relative;
    z-index: 110;
    margin-bottom: 100px;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    img {
      width: 720px;
      height: 500px;

      @media (max-width: 768px) {
        left: -15px;
        width: calc(100% + 15px);
        height: auto;
        position: absolute;
      }
    }

    .post-announce-small-text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 70px;

      @media (max-width: 768px) {
        padding-top: 400px;
        margin-left: 0;
      }

      .post-link {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 90px;
        letter-spacing: 1px;
        color: $MainOrange !important;
        text-decoration: none;
      }

      .category {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 170%;
        color: $MainBlack;
        padding: 10px 24px;
        background-color: $Marker-post;
        margin: 0;
      }

      .post-title {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        color: $MainWhite;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 27px;
        padding-bottom: 18px;

        @media (max-width: 768px) {
          color: $MainBlack;
        }
      }

      .post-text {
        margin: 0;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        color: $MainWhite;

        @media (max-width: 768px) {
          color: $MainBlack;
        }

        p {
          margin: 0;
        }
      }
    }
  }

  .alm-btn-wrap {
    display: flex !important;
    justify-content: center !important;

    .alm-load-more-btn {
      font-family: Open Sans, sans-serif !important;
      font-style: normal !important;
      font-weight: 600 !important;
      font-size: 24px !important;
      line-height: 66px !important;
      color: $MainWhite !important;
      padding: 11px 69px !important;
      background-color: $MainBlack !important;
      cursor: pointer !important;
      max-width: 331px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 93px !important;
      border-radius: 0 !important;
      position: relative !important;
      z-index: 110;
    }
  }
}
