.post-section {
  width: 100%;
  // height: 1000px;
  position: relative;
  padding-top: 217px;

  .black-plate {
    width: 100%;
    height: 962px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $MainBlack;
  }

  .post-navigation {
    position: relative;
    z-index: 110;
  }

  .wp-block-image {
    margin: 0;
    position: relative;
    z-index: 110;

    img {
      width: 100%;
    }
  }

  .single-post-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 88px;
    letter-spacing: 1.01786px;
    color: $MainWhite;
    margin: 0;
  }

  .post-sub-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 47px;
    margin-top: 68px;
    margin-bottom: 45px;

    div {
      display: flex;
      align-items: center;
    }

    .category {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 170%;
      color: $MainBlack;
      padding: 10px 24px;
      margin: 0;
    }

    .post-sub-title {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 1px;
      color: $MainWhite;
      display: inline-block;
    }

    .orange-vertical-line {
      content: "";
      display: inline-block;
      height: 27px;
      width: 4px;
      margin-right: 17px;
      background-color: $MainOrange;
    }
  }

  .post-content {
    max-width: 100%;
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;

    .entry-date {
      margin-top: 84px;
      margin-bottom: 70px;
      padding: 0 20%;
    }

    h1 {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 56px;
      line-height: 66px;
      letter-spacing: 1.23642px;
      color: $MainBlack;
      padding-top: 84px;
      padding-bottom: 84px;
      margin: 0;
      position: relative;
      padding-left: 20%;
      padding-right: 20%;
    }

    h1::before {
      content: "";
      background-image: url(../images/quotes.svg);
      width: 35px;
      height: 20px;
      position: absolute;
      font-size: 80px;
      left: 14%;
      top: 98px;
    }

    h2 {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 44px;
      max-width: 479px;
      color: $MainBlack;
      padding: 0 20%;
    }

    p {
      padding: 0 20%;
    }
  }
}
