// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.hero-section {
  width: 100%;
  background-color: $DarkGreen;
  position: relative;

  @media (max-width: 768px) {
    padding-bottom: 100px;
  }

  .black-plate {
    width: 39%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: $MainBlack;
    z-index: 50;

    @media (max-width: 768px) {
      width: 100%;
      height: 556px;
      top: 567px;
    }
  }

  .square-dots {
    width: 176px;
    height: 176px;
    position: absolute;
    top: 647px;
    right: -88px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 110;

    @media (max-width: 1420px) {
      right: 15px;
    }

    @media (max-width: 768px) {
      top: 911px;
    }

    .square-dots-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .square-dot {
        width: 7px;
        height: 7px;
      }

      .orange-dot {
        background-color: $MainOrange;
      }

      .green-dot {
        background-color: $MainGreen2;
      }

      .grey-dot {
        background-color: $Grey1;
      }

      .black-dot {
        background-color: $MainBlack;
      }
    }
  }
}

.hero {
  min-height: 900px;
  display: flex;
  flex-direction: row;
  padding-top: 128px;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  z-index: 50;

  @media (max-width: 768px) {
    padding-top: 65px;
  }

  .hero-title-text {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    position: relative;
    z-index: 110;

    @media (max-width: 768px) {
      padding-top: 65px;
    }

    .hero-sub-title-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      .hero-sub-title {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
        color: $MainBlack;
        margin: 0;

        @media (max-width: 768px) {
          font-size: 20px;
        }
      }

      .orange-vertical-line {
        content: "";
        display: inline-block;
        height: 33px;
        width: 4px;
        margin-right: 17px;
        background-color: $MainOrange;
      }
    }

    .hero-title {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 82px;
      line-height: 88px;
      letter-spacing: -1.2px;
      color: $MainBlack;
      margin-top: 29px;

      @media (max-width: 550px) {
        font-size: 52px;
        line-height: 60px;
      }

      @media (max-width: 365px) {
        font-size: 40px;
        line-height: 40px;
      }
    }
  }

  .hero-image-wrapper {
    width: 567px;
    height: 860px;
    position: absolute;
    top: 128px;
    right: 0;
    z-index: 100;
    overflow: hidden;

    @media (max-width: 900px) {
      width: 359px;
      height: 538px;
      top: 463px;
      right: -15px;
    }

    @media (max-width: 390px) {
      width: calc(100% + 15px);
    }

    .hero-image {
      width: 567px;
      height: 860px;
      position: absolute;
      top: -860px;
      left: -567px;
      z-index: 100;

      @media (max-width: 900px) {
        width: 359px;
        height: 538px;
      }

      @media (max-width: 390px) {
        width: calc(100% + 15px);
        height: auto;
      }

      @media (max-width: 375px) {
        height: auto;
      }
    }

    .orange-plate {
      width: 567px;
      height: 860px;
      position: absolute;
      top: 567px;
      left: 860px;
      z-index: 90;
      background-color: $MainOrange;

      @media (max-width: 900px) {
        width: 359px;
        height: 538px;
      }

      @media (max-width: 390px) {
        width: calc(100% + 15px);
        height: auto;
      }

      @media (max-width: 375px) {
        height: auto;
      }
    }
  }
}
