// TODO: .banner .nav li {}
// TODO: .banner .nav a {}
.logotips-section {
  width: 100%;
  padding-top: 254px;
  padding-bottom: 200px;
  background-color: $MainWhite;
  position: relative;

  .boxed-wrapper {
    position: relative;
    overflow-x: scroll;
    z-index: 110;

    .logotips-wrapper {
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: space-between;
      flex-wrap: wrap;
      min-width: 1200px;

      .logo-wrapper {
        flex-basis: 20%;
        margin-top: 75px;
      }
    }
  }

  .boxed-wrapper::-webkit-scrollbar {
    width: 2px;
  }
}
