.slider-three-section {
  width: 100%;
  min-height: 772px;
  position: relative;
  padding-top: 140px;

  .how-we-do-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 82px;
    line-height: 88px;
    letter-spacing: 1.01786px;
    position: relative;
    z-index: 100;
    margin: 0;
    padding-bottom: 100px;
    transition: font-size 0.3s ease-in-out;

    @media (max-width: 768px) {
      font-size: 52px;
      line-height: 60px;
    }
  }
}

.slider-three-image {
  width: 934px;
  height: 524px;
  position: absolute;
  top: 0;
  left: 0;
  // border: 1px solid red;
  z-index: 110;

  @media (max-width: 971px) {
    width: calc(100% - 15px);
    height: auto;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  .slick-slide {
    @media (max-width: 971px) {
      width: calc(100% - 15px);
      height: auto;
    }

    &,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.slider-three-text {
  width: 677px;
  height: 200px;
  position: absolute !important;
  top: 54px;
  left: 93px;
  // border: 1px solid red;
  z-index: 130;
  color: $MainWhite;
  // overflow: hidden;

  @media (max-width: 768px) {
    width: 90%;
    height: 247px;
    top: 54px;
    left: 6%;
  }

  .slider-three-text-title-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .slider-three-logotip {
    max-width: 85px;
    max-height: 24px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .slick-track {
    overflow: hidden;
  }

  .orange-vertical-line {
    content: "";
    display: inline-block;
    height: 33px;
    width: 4px;
    margin-right: 17px;
    background-color: $MainOrange;
  }

  .slider-three-text-title {
    display: inline-block;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .slider-three-text-subtitle {
    padding-left: 24px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 1px;
    color: $MainWhite;
  }

  .slider-three-text-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    padding-left: 24px;
    padding-top: 24px;
    max-width: 500px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  .slick-list {
    height: 100% !important;
  }

  .slick-slide {
    height: 378px !important;

    @media (max-width: 768px) {
      width: 85%;
    }
  }
}

.black-plate-three-slider {
  width: 835px;
  height: 320px;
  background-color: $MainBlack;
  position: absolute;
  right: 0;
  bottom: -154px;
  // border: 1px solid red;
  z-index: 120;

  @media (max-width: 768px) {
    width: calc(100% - 60px);
    min-height: 320px;
    padding: 15px;
    background-color: #000;
    position: absolute;
    left: 15px;
    bottom: -345px;
    z-index: 120;
  }

  .nav-three-wrapper {
    width: 266px;
    height: 92px;
    position: absolute;
    top: -92px;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 150;
    background-color: #ff6000;

    @media (max-width: 768px) {
      width: 100%;
      top: 350px;
      right: 0;
    }

    .progress-three {
      display: block;
      width: 121px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;
      background-color: rgba($color: #fff, $alpha: 0.3);
      background-image: linear-gradient(to right, $MainWhite, $MainWhite);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size 0.4s ease-in-out;
      z-index: 110;
      -ms-flex-order: 3;
    }

    .three-prev {
      width: 20px;
      height: 24px;
      color: $MainWhite;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 3.65503px;
      -ms-flex-order: 2;
    }

    .three-next {
      width: 20px;
      height: 24px;
      color: #c4c4c4;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 3.65503px;
      -ms-flex-order: 4;
    }

    .three-arrow-prev {
      width: 20px;
      height: 12px;
      color: #c4c4c4;
      -ms-flex-order: 1;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
    }

    .three-arrow-next {
      width: 20px;
      height: 12px;
      color: #c4c4c4;
      -ms-flex-order: 5;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
    }

    .three-arrow-prev:hover {
      color: $MainWhite;
    }

    .three-arrow-next:hover {
      color: $MainWhite;
    }
  }
}
