.slider-four-section {
  width: 100%;
  position: relative;
  padding-top: 140px;
  padding-bottom: 150px;

  @media (max-width: 400px) {
    padding-top: 75px;
  }

  .slider-four-title {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    z-index: 100;
    margin: 0;
    padding-bottom: 73px;

    @media (max-width: 768px) {
      font-size: 52px;
      line-height: 60px;
    }

    @media (max-width: 400px) {
      font-size: 32px;
      letter-spacing: 0;
      padding-bottom: 56px;
      font-weight: 600;
    }
  }

  .nav-four-wrapper {
    width: 235px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 1%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    z-index: 150;

    @media (max-width: 768px) {
      bottom: -75px;
      right: calc((100% - 235px) / 2);
      top: auto;
    }

    .progress-four {
      display: block;
      width: 121px;
      height: 3px;
      border-radius: 10px;
      overflow: hidden;
      background-color: #f5f5f5;
      background-image: linear-gradient(to right, $MainOrange, $MainOrange);
      background-repeat: no-repeat;
      background-size: 0 100%;
      transition: background-size 0.4s ease-in-out;
      z-index: 110;
      -ms-flex-order: 3;
      margin-left: 20px;
      margin-right: 10px;
    }

    .four-prev {
      width: 20px;
      height: 24px;
      color: $MainOrange;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 24px;
      letter-spacing: 3.65503px;
      -ms-flex-order: 2;
      cursor: default;
    }

    .four-next {
      width: 20px;
      height: 24px;
      color: #c4c4c4;
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 3.65503px;
      -ms-flex-order: 4;
      cursor: default;
    }

    .four-arrow-prev {
      width: 20px;
      height: 12px;
      color: #c4c4c4;
      -ms-flex-order: 1;
      transition: color 0.3s ease-in-out;
      cursor: default;
      background-image: url(../images/arrow-grey.svg);
      background-repeat: no-repeat;
    }

    .four-arrow-next {
      width: 20px;
      height: 12px;
      color: #c4c4c4;
      -ms-flex-order: 5;
      transition: color 0.3s ease-in-out;
      cursor: default;
      background-image: url(../images/arrow-grey.svg);
      background-repeat: no-repeat;
      transform: scaleX(-1);
    }

    .four-arrow-prev:hover {
      background-image: url(../images/arrow-orange.svg);
    }

    .four-arrow-next:hover {
      background-image: url(../images/arrow-orange.svg);
    }
  }
}

.slider-four-image {
  width: 100%;
  max-height: 161px;

  .slider-four-image-image {
    @media (max-width: 768px) {
      max-height: 131px;
    }

    &,
    img {
      max-height: 131px;
      object-fit: cover;
      filter: grayscale(100%);
      margin: 0 15px;
    }

    &,
    img:hover {
      filter: grayscale(0);
      margin: 0 15px;
    }
  }

  .slick-current {
    .slider-four-image-image {
      @media (max-width: 768px) {
        max-height: 131px;
      }

      &,
      img {
        max-height: 131px;
        object-fit: cover;
        filter: grayscale(0);
      }
    }
  }
}

// .slider-four-image .slider-four-image-image .slider-four-image-img {
//   filter: grayscale(0);
// }
