html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.lines-fullwidth {
  position: relative;
  padding: 0;
}

.lines-fullwidth::after {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: 0;
  background-image: repeating-linear-gradient(to right, #dbdbdb, #dbdbdb 1px, transparent 1px, transparent);
  background-size: 19.9% 100%;

  @media (max-width: 768px) {
    width: calc(100% - 30px);
    margin: 0 15px;
    background-image: repeating-linear-gradient(to right, #dbdbdb, #dbdbdb 1px, transparent 1px, transparent);
    background-size: 49.9% 100%;
  }
}

.lines-fullwidth-blog {
  position: relative;
  padding: 0;
}

.lines-fullwidth-blog::after {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: 0;
  background-image: repeating-linear-gradient(to right, #dbdbdb, #dbdbdb 1px, transparent 1px, transparent);
  background-size: 19.9% 100%;
  opacity: 0.2;

  @media (max-width: 768px) {
    width: calc(100% - 30px);
    margin: 0 15px;
    background-image: repeating-linear-gradient(to right, #dbdbdb, #dbdbdb 1px, transparent 1px, transparent);
    background-size: 49.9% 100%;
  }
}

.site-wrapper-boxed {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.orange-text {
  color: $MainOrange;
}

.mail-pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
  display: none;
  align-items: center;
  justify-content: center;

  #wpcf7-f10-o1 {
    position: relative;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 250;
    max-width: 650px;
    max-height: 625px;
    padding: 80px 0;
    background-color: $MainWhite;
    box-sizing: border-box;

    @media (max-width: 375px) {
      padding: 60px 0;
    }

    .init,
    .invalid {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 69%;

      @media (max-width: 463px) {
        width: 80%;
      }

      p {
        margin: 0;

        @media (max-width: 375px) {
          width: 100%;
        }
      }

      .orange {
        color: $MainOrange;
      }

      .black {
        color: $MainBlack;
      }

      .pop-up-title {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 58px;
        letter-spacing: 1.23642px;

        @media (max-width: 550px) {
          font-size: 32px;
          line-height: 37px;
          letter-spacing: 0.23642px;
        }
      }

      input[type="text"],
      input[type="email"] {
        border-bottom: 1px solid #c4c4c4;
        border-top: none;
        border-left: none;
        border-right: none;
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #6a6a6a;
        padding-top: 48px;
        width: 100%;
      }

      label {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        color: #6a6a6a;
      }

      input[type="submit"] {
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 73px;
        color: $MainWhite;
        background-color: $MainBlack;
        padding: 10px 64px;
        margin-top: 80px;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;

        @media (max-width: 463px) {
          width: 100%;
          line-height: 45px;
        }
      }

      input[type="submit"]:hover {
        opacity: 0.3;
      }

      .wpcf7-response-output {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}
