/** Colors */
$brand-primary:         #525ddc;

$MainOrange:   #ff6000;

$MainBlack:   #000;

$MainWhite:    #fff;

$DarkGreen:   #e6eae6;

$MainGreen2:   #f3f5f3;

$Grey1:  #c4c4c4;

$Grey6:  #353535;

$MarkersMarketing:   #e9f1d9;

$MarkersTotalVideoPerformance:   #d6def9;

$MarkersE-commerce:   #dcd9f1;

$MarkersPerformance-Content:  #f1d9f0;

$MarkersData-Analytics:  #f1e3d9;

$Marker-post: #e9f1d9;

/** Box Model  */
$spacer:                2rem;
